<VirtualHost *:443>

    ServerName c.{{ base_hostname }}

    SSLEngine On
    Header always set Strict-Transport-Security "max-age=63072000"

    DocumentRoot /local/collector/public

    <Directory /local/collector/public>
        AllowOverride All
        Require all granted
    </Directory>

    <FilesMatch ".+\.ph(?:ar|p|tml)$">
        SetHandler "proxy:unix:/run/php/php8.4-fpm.sock|fcgi://localhost"
    </FilesMatch>

</VirtualHost>
